/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12px;
}

.gallery .pics {
    flex: 0 0 calc(33.3333% - 12px);
    cursor: pointer;
    margin-bottom: 12px;
    transition: opacity 350ms ease;
}

@media(max-width: 991px) {
    .gallery .pics {
        flex: 0 0 calc(50% - 12px);
    }
}

@media(max-width: 480px) {
    .gallery .pics {
        flex: 0 0 100%;
    }
}

/* Modal */
.model {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.model.open svg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}
